<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RPCController</servlet-name>
        <servlet-class>by.bsuir.vechorko.servlet.RPCController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DocController</servlet-name>
        <servlet-class>by.bsuir.vechorko.servlet.DocController</servlet-class>
    </servlet>
    <servlet>
        <display-name>123</display-name>
        <servlet-name>MainController</servlet-name>
        <servlet-class>by.bsuir.vechorko.servlet.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>by.bsuir.vechorko.servlet.CaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RPCController</servlet-name>
        <url-pattern>/RPCController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocController</servlet-name>
        <url-pattern>/DocController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>ControllerFilter</filter-name>
        <filter-class>by.bsuir.vechorko.servlet.filter.ControllerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ControllerFilter</filter-name>
        <url-pattern>/MainController</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ControllerFilter</filter-name>
        <url-pattern>/RPCController</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ControllerFilter</filter-name>
        <url-pattern>/DocController</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/CaptchaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
</web-app>
